footer{
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;

    .row {
        border-bottom: 1px solid grey;
    }

    p{
        text-align: center;
        padding-top: 2rem;
    }

    span{
        color: red;
    }

    ul{
        list-style: none;
        display: flex;

        li{
            margin:  1rem;

            a{
                color: white;
                text-decoration: none !important;

                &:hover{
                    color: grey;
                }
            }
        }
    }
}
.footer-img{
    height: 100px;
    width: 150px;
    margin: 0  auto 2rem auto; 

        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
}

.footer-icons{
    a{
        font-size: 1.2rem;
    }
}
