@media (min-width: 576px) {
}

@media (min-width: 768px) {
  // stay-page
  .stay-list{
    padding-left: 2rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  // global
  html{
    font-size: 14px;
  }
  // header-section
  header {
    position: fixed;
  }

  // main-section
  main{
    margin-top: 96px;
  }

  .location-section h2{
    margin-bottom: 2rem;
  }


  // footer
  footer ul{
    justify-content: center;
}
  // fixed-icons
  .whatsapp-fixed-icon{
     bottom: 56px;
  }
  .calling-icon{
    width: 100vw;
    left: 0;
    bottom: 0;
    transform: translateY(0) rotate(0deg);
    top: unset;
  }

  // footer-section
  footer{
    padding-bottom: calc(5rem + 56px);
  }
  .footer-links{
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 575px) {
}
