@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  // header-section
  header {
    position: fixed;
  }
  footer ul{
    justify-content: center;
}
  // fixed-icons
  .whatsapp-fixed-icon{
     bottom: 56px;
  }
  .calling-icon{
    width: 100vw;
    left: 0;
    bottom: 0;
    transform: translateY(0) rotate(0deg);
    top: unset;
  }

}

@media (max-width: 575px) {
}
